.btn_p{
    width: 100px;
    height: 50px;
    background: #944BBB;
    border-radius: 20px;
    color:white;
    border-width: 0px;
    outline:none;
}

.line_18{
    line-height: 18px;
}

.icon_title,.icon_sidetop{
    width: 25px;
    height: 25px;
}

.title_div{
    margin-right: 15%;
    border: 0.5px solid #FFFFFF;
    border-left: 0px;
    border-top:0px;
    border-right:0px;
    line-height: 0px;
}

.input_dark{
    height: 60px;
    background: #4D4D4D;
    box-shadow: 0px 0.86386px 3.45544px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color:white;
    outline:none;
    border:0px;
}

.search_div{
    background: #FFFFFF;
    box-shadow: 0px 0.86386px 3.45544px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.search{
    border: 1px solid #D2D2D2;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    outline:none;
}

.card, .caard{
    background: #FFFFFF;
    box-shadow: 0px 0.86386px 3.45544px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    line-height: 0px;
    z-index: 2;
}

.caard{
    height: 61px;
    text-decoration: none !important;
}

.editar{
    background: #D2D2D2;
}

.desativar{
    background: #FF3131;
}

.adicionar{
    background: #00B929;
    width: 234px;
}

.finalizar, .desativar, .editar, .adicionar{
    min-width: 110px;
    border-radius: 10px;
    height: 50px;
    border:0px;
    outline:none !important;
}
#linhav{
    width: 0px;
    height: 79px;
    border: 0.7px solid #4D4D4D !important;
}

#title_card_prin{
    max-width: 100px;
}

.Card_up{
    overflow:hidden;
    max-height:50px;
    transition: max-height 1s;
}
  
.Card_down{
    overflow: hidden;
    max-height: 550px;
    transition: max-height 1s;
}

@media screen and (min-width:900px) {
    .icon_sidetop{
        height: 0px;
        width: 0px;
    }
}
