.btn_status {
  width: 40px;
  height: 40px;
  background: #944bbb;
  border-radius: 20px;
  color: white;
  outline: none;
  border: none;
}

.page {
  margin-top: 60px !important;
}

.card_prin {
  justify-content: center;
}

.flex_temp {
  flex-direction: column;
}

.title_viagens {
  margin-top: 10px;
}

.btn_search,
.div_btns,
.input_pontos,
.btns_viagens,
.title_div_config {
  flex-direction: column;
}

.horarios {
  flex-wrap: wrap;
  margin-top: 32px;
}

.div_horario {
  min-width: 90px;
  height: 50px;
}

.search_div {
  background: #ffffff;
  box-shadow: 0px 0.86386px 3.45544px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 90%;
}

.search {
  margin-right: 20px;
  border: 1px solid #d2d2d2;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
}

.btn_p {
  width: 100px;
  height: 50px;
  background: #944bbb;
  border-radius: 20px;
  color: white;
  border-width: 0px;
  outline: none;
}

.btn_p:focus {
  outline: none;
}

.input_dark {
  height: 60px;
  background: #4d4d4d;
  box-shadow: 0px 0.86386px 3.45544px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: white;
  outline: none;
  border: 0px;
}

.div_select {
  overflow: hidden;
  border-radius: 20px;
  height: 60px;
}

.select {
  border: solid 10px #4d4d4d;
  opacity: 1;
}

.option {
  background: white;
  color: #4d4d4d;
}

.radio {
  all: unset;
  width: 16px;
  height: 16px;
  background: #4d4d4d;
  border-radius: 10px;
}

.input_horario {
  max-width: 95px;
  font-size: 16px;
  height: 60px;
  line-height: 18px;
  text-align: center;
}

.btn_horario {
  width: 65px;
  height: 50px;
  border: none;
  background: #4d4d4d;
  border-radius: 10px;
  color: white;
  font-size: 33px;
  outline: none !important;
}

.input_config {
  width: 100%;
  margin-left: 0px;
  margin-top: 32px;
}

.icon_title,
.icon_sidetop {
  width: 25px;
  height: 25px;
}

.icon_p_viagens {
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.title_div {
  margin-right: 5%;
  border: 0.5px solid #ffffff;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  line-height: 0px;
  max-height: 70px;
  min-width: 350px;
}

.title_div_config {
  align-items: start;
  margin-right: -5%;
  min-width: 400px;
  max-height: 85px;
}

.btn_cell {
  margin-top: 24px;
}

.icon_search {
  margin-left: 20px;
  margin-right: 20px;
}

.card,
.caard {
  background: #ffffff;
  box-shadow: 0px 0.86386px 3.45544px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  line-height: 0px;
  z-index: 1;
}

.caard {
  height: 61px;
  text-decoration: none !important;
}

.editar {
  background: #d2d2d2;
  color: #4d4d4d;
}

.desativar {
  background: #ff3131;
}

.adicionar {
  background: #00b929;
  color: white;
}

.finalizar,
.desativar,
.editar,
.adicionar {
  margin-bottom: 16px;
  min-width: 234px;
  border-radius: 10px;
  height: 50px;
  border: 0px;
  outline: none !important;
}

.input_viagens {
  width: 90%;
  margin-left: 0px;
}

.point_viagens {
  width: 90%;
}

#linhav {
  width: 0px;
  height: 0px;
}

#title_card_prin {
  max-width: 0px;
  font-size: 0px;
}

#modal_div {
  margin-left: 0%;
  z-index: 3;
}

#modal_sombra {
  background: rgba(0, 0, 0, 0.3);
}

#modal {
  max-width: 548px;
  max-height: 386px;
  min-height: 285px;
  min-width: 363px;

  background: #ffffff;
  box-shadow: 0px 0.86386px 3.45544px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 4;
}

.Card_up {
  overflow: hidden;
  max-height: 50px;
  transition: max-height 1.5s;
}

.Card_up_viagens {
  overflow: hidden;
  max-height: 70px;
  transition: max-height 1.5s;
}

.Card_down {
  overflow: hidden;
  max-height: 1100px;
  transition: max-height 1.5s;
}

.fade_show {
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s;
  width: 100vw;
  height: 100vh;
}

.fade_cover {
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  width: 0vw;
  height: 0vh;
}

@media screen and (min-width: 500px) {
  .Card_up_viagens {
    overflow: hidden;
    max-height: 50px;
    transition: max-height 1.2s;
  }

  .icon_p_viagens {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 0px;
  }

  .title_viagens {
    margin-bottom: 10px;
  }

  .title_div {
    margin-right: 15%;
  }

  .flex_temp {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .Card_down {
    overflow: hidden;
    max-height: 490px;
    transition: max-height 1.2s;
  }

  .icon_sidetop {
    height: 0px;
    width: 0px;
  }

  .page {
    margin-top: 0px !important;
  }

  #linhav {
    width: 0px;
    height: 79px;
    border: 0.7px solid #4d4d4d !important;
    margin-right: 20px;
  }

  #title_card_prin_cima {
    font-size: 0px;
    line-height: 0px;
    margin: 0px;
  }

  #title_card_prin {
    max-width: 100px;
    font-size: 20px;
    margin-left: 95px;
    margin-right: 95px;
  }

  .card_prin {
    justify-content: flex-start;
  }

  .search_div {
    margin-right: 16px;
    width: 60%;
  }

  .icon_search {
    margin-left: 57px;
    margin-right: 57px;
  }

  .search {
    margin-right: 57px;
  }

  .btn_cell {
    margin-top: 0px;
  }

  .btn_search,
  .div_btns,
  .input_pontos,
  .btns_viagens,
  .title_div_config {
    flex-direction: row;
  }

  .editar,
  .finalizar,
  .adicionar {
    margin-bottom: 0px;
    margin-right: 24px;
  }

  .desativar {
    margin-bottom: 0px;
  }

  .input_viagens {
    max-width: 50%;
    margin-left: 24px;
  }

  .point_viagens {
    width: 50%;
  }

  .title_div_config {
    align-items: center;
    margin-right: 15%;
    max-height: 30px;
  }

  .input_config {
    width: 40%;
    margin-left: 24px;
    margin-top: 0px;
  }

  .horarios {
    margin-top: 0px;
  }

  .title_viagens {
    margin-top: 15px;
  }

  #modal_div {
    margin-left: 5%;
  }
}
